@import 'compass'
@import 'variables'
@import 'mixins'
@import 'bootstrap'
@import 'font-awesome'
@import 'template'

#header
  background: url(../images/header.jpg) no-repeat center top
  background-attachment: relative
  background-size: cover
  padding-top: 250px
  min-height: 700px
  width: 100%


.navbar
  margin-bottom: 0

